@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");

/* start common styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Red Hat Display", sans-serif;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

/* end common styles */

/* section 1 styles */

.section-1 {
  z-index: 50;
}

.section-wrapper {
  width: inherit;
  height: inherit;
}

.section-1-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(images/section-1-bg.jpg) center no-repeat;
  background-size: cover;
}

.section-1-heading-wrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-1-heading {
  font-size: 8.7rem;
  font-weight: 300;
  color: aliceblue;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  border-bottom: 0.2rem solid crimson;
  text-align: right;
  user-select: none;
}
/* end section 1 styles */

/* section 2 styles */

.section-2 {
  z-index: 51;
}

.section-2-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url(images/section-2-bg.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sale-bag {
  opacity: 0.9;
  width: 45rem;
}

.sale-btn {
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: transparent;
  color: aliceblue;
  margin-top: 4rem;
  border: 0.1rem solid aliceblue;
  transition: background-color 0.2s;
}

.sale-btn:hover {
  background-color: crimson;
}

.wine-bottle {
  opacity: 0.6;
  width: 80rem;
}

/* end section 2 styles */

/* section 3 styles */
.section-3 {
  z-index: 52;
}

.section-3-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url(images/section-3-bg.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section-3-heading {
  font-size: 15.5rem;
  color: peachpuff;
  text-transform: uppercase;
  transform: rotate(-20deg);
  text-align: center;
  text-shadow: 0 0.5rem 1.5rem midnightblue;
  user-select: none;
}

.frame-img {
  width: 100rem;
  position: absolute;
  opacity: 0.5;
}

.grapes-img {
  width: 40rem;
  position: absolute;
  opacity: 0.7;
}
/* end section 3 styles */
